name: Secure Edge Deployment

on:
  push:
    branches:
      - main # Only when code is pushed to the main branch

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: af-south-1  # Your Cape Town region

      - name: Sync to S3
        run: |
          aws s3 sync . s3://my-cloud-portfolio-2026 --delete --exclude ".git/*" --exclude ".github/*"
